<!-- extends from base template -->
{% extends 'base.template.html' %}

<!-- include crispy tag -->
{% load crispy_forms_tags %}

{% load static %}

<!-- page title -->
{% block page_title %} Our Services {% endblock %}


{% block content %}
    <div class="container-fluid mt-3 mb-3">

        <div class="mt-4">    
            <p>At Pick-A-Book bookstore, we aim to provide you with the following services to serve your book-buying needs:</p>
        </div>
        
        <div class="row">
            
            <div class="col-sm-12">
                <h5 class="customerServicesHeader"><strong>Special Book Order:</strong></h5>
                <p>
                    If you would like to purchase a book that we do not carry in our bookstore, kindly reach out to us via email at <a href="mailto:customerservice@pickabook.store?Subject=Special Book Order Enquiries" target="_top">customerservice@pickabook.store</a>,
                    give us a call at (65) 9123 3219 (Mon – Fri, excluding public holidays: 10.00am to 7.00pm) or walk in to our bookstore and approach any of our staff for assistance.
                </p>
                
            </div>
            
            <div class="col-sm-12">
                <h5 class="customerServicesHeader"><strong>Customer Enquiries:</strong></h5>
                <p>
                    Please do reach out to us at (65) 9123 3219 between 10.00am to 7.00pm (Monday to Friday, excluding public holidays) should you have any enquiries.
                </p>
            </div>
            
            <div class="col-sm-12">
                <h5 class="customerServicesHeader"><strong>Reservation Service:</strong></h5>
                <p>
                    To make a reservation for a book, you may approach us via one of the two following ways as listed below:
                    <ul>
                        <li>Call us at (65) 9123 3219 between 10.00am to 7.00pm (Monday to Friday, excluding public holidays)</li>
                        <li>Walk in to our bookstore any time between 10.00am to 10.00pm</li>
                    </ul>
                    Please note that we can only reserve a book for you up to 5 days.                    
                </p>
            </div>
            
            <div class="col-sm-12">
                <h5 class="customerServicesHeader"><strong>Delivery:</strong></h5>
                <p>
                    Free delivery within mainland Singapore (excluding offshore islands, Jurong Island, Sentosa) for orders with nett purchase of S$100 and above in a single receipt. 
                    Do reach out to our Customer Service at (65) 9123 3219 (Mon – Fri, excluding public holidays: 10.00am to 7.00pm) for enquiries on delivery charge.
                </p>
            </div>    
            
            <div class="col-sm-12">
                <h5 class="customerServicesHeader"><strong>Payment Mode:</strong></h5>
                <p>
                    Pick-A-Book bookstore accept payment in the form of cash, nets, or via GrabPay, MasterCard, Visa or American Express
                </p>
            </div> 
            
            <div class="col-sm-12">
                <h5 class="customerServicesHeader"><strong>Exchange Policy:</strong></h5>
                <p>
                    <ul>
                        <li>Exchanges will be accepted within 7 days of purchase. Please ensure the book is in a good and saleable before bringing in the book for exchange. Do bring along the original purchase receipt when visiting the store.</li>
                        <li>We regret that no refund will be made.</li>
                    </ul>
                </p>
            </div> 
        </div>
    </div>
{% endblock %}