<!-- extends from base template -->
{% extends 'base.template.html' %}

{% block page_title %} Password Reset Complete {% endblock %}

{% block content %}   
    <div class="alert alert-info mt-3 mb-3 alert-dismissible border text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Your password has been reset.
        
        <a href="{% url 'login' %}">Sign In Here</a>
    </div>
{% endblock %}

