<!-- extends from base template -->
{% extends 'base.template.html' %}

{% load static %}

{% block page_title %} Password Reset {% endblock %}

<!-- crispy form -->
{% load crispy_forms_tags %}

{% block content %}   
<div class="d-flex justify-content-center mt-5 mb-5">
    {% if validlink %}       
        <form method="POST" class="border border-info p-5">
            {% csrf_token %}
            
            <p class="h4 mb-4 signup-header">Reset Password</p>
            
            <div id="div_id_new_password1" class="form-group"> 
                <label for="id_new_password1" class=" requiredField">New password<span class="asteriskField">*</span></label>
                <div class=""> 
                    <input type="password" name="new_password1" autocomplete="new-password" class="textinput textInput form-control" required id="id_new_password1"> 
                    <div class="form-text text-muted">  
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    </div> 
                </div>
            </div>
            
            <div id="div_id_new_password2" class="form-group"> <label for="id_new_password2" class=" requiredField">
                New password confirmation<span class="asteriskField">*</span> </label>
              <div class=""> <input type="password" name="new_password2" autocomplete="new-password"
                  class="textinput textInput form-control" required id="id_new_password2"> </div>
            </div>
            
          	<div class="text-center">
            	<button class="btn btn-primary" type="submit">Reset Password</button>
            </div>
        </form>
    {% else %}
        <p>
            The password reset link was invalid. Please request for a new password reset link.
        </p>
  {% endif %}

</div>
{% endblock %}