<!-- extends from base template -->
{% extends 'base.template.html' %}

{% block page_title %} Password Reset Notification {% endblock %}

{% block content %}   
    <div class="alert alert-info mt-3 mb-3 alert-dismissible border text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p>An email has been sent with instructions to reset your password.</p>
        <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </p>
    </div>
{% endblock %}


