<!-- extends from base template -->
{% extends 'base.template.html' %}

{% load static %}

{% block page_title %} Password Reset Invalid {% endblock %}

<!-- crispy form -->
{% load crispy_forms_tags %}

{% block content %}   
<div class="d-flex justify-content-center mt-5 mb-5">
    {% if validlink %}       
        <form method="POST" class="border border-info p-5">
            {% csrf_token %}
            
            <p class="h4 mb-4 signup-header">Reset Password</p>
            {{ form|crispy }}
            
          	<div class="text-center">
            	<button class="btn btn-primary" type="submit">Reset Password</button>
            </div>
        </form>
    {% else %}
        <p>
            The password reset link was invalid. Please request for a new password reset link.
  {% endif %}

</div>
{% endblock %}