body {
    font-family: 'Unkempt', cursive, 'Sans-Serif';
}

.navbar-brand-logo {
    color: #b0bf1a;
}


ul {
    padding-left: 20px;
}

.loginButton {
    margin-top: 16px;
}

.signup-header {
	text-align: center;
}

.homeLogo {
    width: 32px;
    height: 32px;
}

.itemImg img {
    /*max-height: 240px;*/
    height: 240px;
}

.slickSlide {
    margin-left: 20px;
    margin-right: 20px;
}

#bannerBackground {
    background:url('/static/images/reading.jpg') no-repeat center center;
    height: 562px;
    width: 100%;
}

.bannerContainer {
    display: flex;
    justify-content: center;
}

.verticalDivider {
    margin-left: 20px;
    margin-right: 20px;
}


/* the slides */
/*https://stackoverflow.com/questions/30999076/how-add-spaces-between-slick-carousel-item*/
.slick-slide {
    margin: 0 10px;
}

/* the parent */

.slick-list {
    margin: 0 -10px;
}

/* fix height of card */
/* modify height from 370 to 380 */
.card {
    height: 380px;
}

.slick-prev:before, .slick-next:before {
    color:#ff4d4d;
}


.title, .author, .price {
    font-size: 0.9em;
}


.card-body {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 575.98px) { 
    .title, .author, .price {
        font-size: 1.2em;
    }
    
    .itemImg img {
        /*max-height: 240px;*/
        height: 270px;
    }

    .card {
        height: 400px;
    }
    
}