<!-- extends from base template -->
{% extends 'base.template.html' %}

{% load static %}

<!-- crispy form -->
{% load crispy_forms_tags %}

<!-- page title -->
{% block page_title %} Login {%endblock%}

{% block content %}   
<div class="d-flex justify-content-center mt-5 mb-5">
    <form method="POST" action="{% url 'login' %}" class="border border-info p-5">
        {% csrf_token %}
        
        <p class="h4 mb-4 signup-header">LOGIN</p>
        {{ form|crispy }}
        
      	<div class="text-center">
        	<button class="btn btn-primary" type="submit">Login</button>
        </div>

		<div class="text-center loginButton">
		    <!-- 170220 add in text-muted -->
		    <small class="text-muted">Don't have an account? 
		        <a href="/register" target="blank"><strong>register here</strong></a>!
            </small>    
		</div>
		
		<div class="text-center">
        	<!-- 170220 add in text-muted -->
        	<small class="text-muted">
        	    <a href="{% url 'password_reset' %}">Forgot password?</a>
        	</small>		    
		</div>
    </form>
</div>
{% endblock %}