<!-- extends from base template -->
{% extends 'base.template.html' %}

<!-- crispy form -->
{% load crispy_forms_tags %}

<!-- page title -->
{% block page_title %} Sign Up {% endblock %}

{% block content %}

<div class="d-flex justify-content-center mt-5 mb-5">
    <form method="POST" action="{% url 'register' %}" class="border border-info p-5">

        {% csrf_token %}

        <p class="h4 mb-4 signup-header">SIGN UP</p>
		{{ form|crispy }}

      	<div class="text-center">
        	<button class="btn btn-primary" type="submit">Sign Up</button>
        </div>

		<div class="text-center loginButton">
		    If you already have an account <a href="{% url 'login' %}"><strong>login</strong></a> instead.
		</div>
    </form>

</div> 
{% endblock %}
