{% extends 'base.template.html' %}

{% load static %}

{% block page_title %} Books View {% endblock %}

{% block content %}
    <div class="container-fluid mt-3">
        
        <div class="row">
            <div class="col-sm-12 col-md-3 mt-3">
                
                <div>
                    <div>
                        <h6><strong>FILTER BY</strong></h6>
                    </div>
                
                </div>    
                    <div>
                        <select id="genreFilter" multiple="multiple" title="Genre">
                            {% for genre in genres %}
                                <option value="{{ genre.category_description }}">{{ genre.category_description }}</option>
                            {% endfor %} 
                        </select>

                        <select class="mt-2" id="authorFilter" multiple="multiple" title="Author">
                            {% for author in authors %}
                                <option value="{{ author.name }}">{{ author.name }}</option>
                            {% endfor %}  
                        </select>
                        
                        <!-- 0902 price range slider -->
                        <label class="mt-3">Price Range</label>
                        <input type="text" id="price_range" name="price_range" value="" />

                        <div class="mt-2">
                            <button id="searchButton" type="submit" class="btn btn-secondary">Search</button>
                            <button id="resetButton" type="button" class="btn btn-secondary">Reset</button>
                        </div>
                    </div>
 
            </div>
            
            <div class="col-sm-12 col-md-9">
                <!-- by default if nothing is selected all the books result will be displayed -->
                <!-- if filter is on, this corresponding div section will be updated with the filtered results -->
                <div class="row" id="bookFilteredResult">
                    <!-- all_books -->
                    {% for book in book_qs %}
                        <div class="col-sm-12 col-md-3 mt-3">
                            <a href='{% url "book_details" book_id=book.id %}'>
                                <div class="card-deck">
                                    <div class="card itemImg">
                                        <img class="card-img-top" src="{{ book.image.cdn_url }}" alt="book image for {{ book.title }}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ book.title }}</h5>
                                            <p class="card-text">
                                                <div class="author">
                                                    by {{ book.author.all |join:", " }}
                                                </div>
                                                
                                                <div class="price">
                                                    ${{ book.price }}
                                                </div>                
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %} 
                    
                                
                     <!--Pagination to display the pages of results returned -->
                    <div class="col-sm-12">
                        <div class="pagination justify-content-center mt-2">
                            <span class="step-links">
                                {% if book_qs.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ book_qs.previous_page_number }}">previous</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ book_qs.number }} of {{ book_qs.paginator.num_pages }}.
                                </span>
                                
                                {% if book_qs.has_next %}
                                    <a href="?page={{ book_qs.next_page_number }}">next</a>
                                    <a href="?page={{ book_qs.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- pass in current URI of the browser -->
    <script>
        let absolute_path_uri = "{{ path_uri }}";
    </script>
    
    <script src="{% static 'js/filter-dropdown.js' %}"></script>
    
{% endblock %}


