{% extends 'base.template.html' %}

{% load static %}

{% block page_title %} Books Details {% endblock %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-sm-12 col-md-3">
            
                <div>
                    <div class="mb-2">
                        {% for detail in book_detail %}
                            <div>
                                <img id="image" src="{{ detail.image.cdn_url }}" alt="book image for {{ detail.title }}">
                            </div>    
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-6">
                <div>
                    {% for detail in book_detail %}
                        <div class="editionDetails">
                            <div>
                                <h4>
                                    <strong>{{ detail.title }}</strong>
                                </h4>
                            
                                <h6>
                                    by {{ detail.author.all |join:", " }}
                                </h6>
                                
                                <div>
                                    Ratings: <span id="starRating"></span> <small>{{ average_ratings }}</small>
                                </div>                                
                            </div>
                            
                            <div class="mt-4">
                                <h4><strong>Edition Overview</strong></h4>
                                
                                <div>
                                    <span>ISBN: <span>{{ detail.ISBN }}</span></span>
                                </div>
                                
                                <div>
                                    <span>Release Date: <span>{{ detail.publishing_year }}</span></span>
                                </div>
                                
                                <div>
                                    <span>Publisher: <span>{{ detail.publisher }}</span></span>
                                </div>
                                
                                <div>
                                    <span>Pages: <span>{{ detail.pages }}</span></span>
                                </div>
                                
                                <div>
                                    <span>Genre: <span>{{ book_genre }}</span></span>
                                </div>
                            </div>
                            
                            <div class="mt-4">
                                <h4>
                                    <strong>Book Description</strong>
                                </h4>
                                
                                <div>
                                    {{ detail.description }}
                                </div>                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
                
            <div class="col-sm-12 col-md-3">
                {% for item in book_detail %}
                    <h4>
                        <strong>Price: ${{ item.price }}</strong>
                    </h4>
                    
                    <div>
                        {% if item.quantity > 0 %}
                            <span>Stock: {{ item.quantity }} Available</span>
                        {% else %}
                            <span>Stock: Out of Stock</span>
                        {% endif %}
                    </div>
                    
                    <div class="mt-1">
                        <form method="POST" action="." class="form-inline">
                            <div id="quantityContainer">
                                <label for="quantity" id="quantityLabel">Quantity: </label>
                                <input type="number" value="1" min="1" max="{{ item.quantity }}" step="1" id="quantity" required/>
                            </div>
                            
                            <button type="submit" class="btn btn-warning mt-3">Add To Cart</button>

                        </form>
                    </div>
                    
                {% endfor %}
            </div>
        </div>
        
        
        <!-- pass in average ratings to star-ratings.js script to convert the ratings into stars -->
        <script>
            let average_ratings = "{{ average_ratings }}";
        </script>
        
        <script src="{% static "js/star-ratings.js" %}"></script>
        
    </div>
{% endblock %}
